body {
	background-color: #e3e3e3;
}

.box1 {
	width: 600px;
	height: 200px;
	border: 2px solid black;
	border-radius: 5%;
	padding: 10px;
	margin: 100px auto;
	background-color: rgba(76,76,76,0.5);
	color: black;
	font-family: arial;
}

.div1 {
	width: 65%;
	float: right;
	height: 200px;
	position: relative;
}

.div1 p {
	font-size: 20px;
}


.div1 img {
	position: absolute;
	left: -212px;
	top: -1px;
	border-radius: 8%;
}