body {
	background-color: white;
}

.wrapper {
	background-color: #F5F5F5;
	width: 72%;
	padding: 5px;
	margin: 10px auto;
	text-align: center;
	border: 2px solid black;
	font-family: 'Righteous', cursive;
}
.divwidth {
	width: 72%;
	margin: 10px auto;
	padding: 10px 3px;
	overflow: hidden;
	color: white;
	text-align: left;
	font-family: 'Righteous', cursive;
	font-size: 30px;
	border: 2px solid black;
	background-color: rgba(35,143,97,0.7);
	}
img {
	width: 100px;
	border-radius: 10%;
	border-bottom: 2px solid black;
	float: right;
	}